# A complete list of style options can be found at:
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
# To see the effect of style options, the following tool can be used.
# https://zed0.co.uk/clang-format-configurator/
#

---
Language: Cpp
BasedOnStyle: Google
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
IncludeBlocks: Regroup
Standard: Cpp11
...

